# Introduction to Python

This brief introduction to the Python programming language aims to explain the Python concepts required in Data Science in a concise manner

## Table of Content


1. Types of Numbers in Python

2. Common Math Operations

3. Comments in Python

4. Variables

5. Case-sensitivity

6. Data types

7. Built-in Data Structures

8. Built-in Functions

9. Conditions

10. Loops

11. Custom Functions

### 1. Types of Numbers in Python

Put simply, there are only two major types of numbers in Python:

- Integers

- floats


Examples of integers are positive and negative whole numbers. For example -6,1, 100, and so on.

Examples of Floats are numbers that have decimal points. For example 5.5, 32.8, and so on.

### 2. Common Math Operations


https://www.geeksforgeeks.org/python-arithmetic-operators/

#### Addition:

- This is simply the sum of numbers.

- The "+" sign is used for addition

- If you add two integers together, you get an integer.

- If you add two floats together, you get a float.

- If you add an integer and a float together, you get a float as well

In [14]:
2 + 2

4

In [15]:
15.8 + 87.15

102.95

In [16]:
8 + 22.5

30.5

In [17]:
2 + 2.0

4.0

#### Subtraction:

- This is simply the difference between numbers.

- The "-" sign is used for addition

- If you subtract two integers, you get an integer.

- If you subtract two floats, you get a float.

- If you subtract an integer from a float or vice-versa, you get a float as well

In [18]:
2 - 5

-3

In [19]:
27.4 - 14.8

12.599999999999998

In [20]:
34 - 58.4

-24.4

#### Multiplication


- This is simply the product of numbers.

- The "*" sign is used for multiplication

- If you multiply two integers together, you get an integer.

- If you multiply two floats together, you get a float.

- If you multiply an integer and a float together, you get a float as well

In [21]:
-27 * 4

-108

In [22]:
88 * 88

7744

In [23]:
334.2592 * 242.05

80907.43936

#### Division:


- This is simply the quotient of two numbers.

- The "/" sign is used for divisio

- If you divide two integers, you get a float.

- If you divide two floats, you get a float.

- If you divide an integer and a float, you get a float as well

- We should always **avoid dividing by zero**

In [4]:
print("Iyiola and Mrs. Modupe are in Data Science class")

print(200/10)
print(2+10)

Iyiola and Mrs. Modupe are in Data Science class
20.0
12

In [24]:
18/9

2.0

In [25]:
45.8/2

22.9

### How Python runs code:


- Python runs each code line-by-line starting from the beginning of the cell to the end of the cell.

- A cell is this box that code is being typed in. The next cell after this cell is numbered 65.

### Explanation of the above error:


- Python runs code line-by-line.

- The print statement is run first, then, the next line is run.

- The next line is 2000 divided by 0. This is a calculation error so python stops running the code within the cell and returns a ZeroDivisionError.

- After returning this error, the last line of print(2 + 10) is not run because python will not continue the execution of a code unless all codes are correct.

#### Exponentiation:


- This just simply implies raising one number to a power. For example, $2^2$ or $5^{-11}$

- It is written using the symbol "**"

- It is also written using the syntax: pow(base, power).

In [26]:
#2 to the power of 4

2 ** 4

16

In [5]:
#to use the race to power,we just type pow and open a bracket to put in the base and power...example we need to raise 3to the power of 20 below

In [27]:
#3 to the power of 20

pow(3,20)

3486784401

#### Modulo:

- This is used to return the remainder of a valid division operation.

- For example, If we were to divide 23 by 4, we find that we can only have 4 go into 23 5 times and there would be a remainder of 3. Using this Modulo operation, we expect that it should give us a result of 3 if it is performed with 23 and 4.

In [28]:
15 % 7

1

In [29]:
20%7

6

In [30]:
23 % 4

3

#### Integer Division:

- This is used to return the quotient of a valid division operation

- For example, integer division of 23 divided by 4 gives us 5 as the answer since 5 is the quotient and 3 is the remainder.

In [31]:
15 // 7

2

In [32]:
23 // 4

5

### 3. Adding Comments



Comments are extra bits of information about a piece of code. They are used to explain what the code does. 

It is important to comment your lines of code so that if you come back to the code after months or even years later, you can still understand the code because its operation was well explained in the comments.

https://www.simplilearn.com/tutorials/python-tutorial/comments-in-python#:~:text=Comments%20in%20Python%20are%20identified,a%20multi%2Dline%20comment%20block.


There are two types of comments. These are:

- Comments with quotation marks

- Comments with the hashtag


**Quotation marks**:

These are comments that python recognizes as a string. A string is just the representation of how to write any type of text.

Anything can be written inside quotation marks. "I am a boy", "4", "#@@#$". All these are comments with quotation marks.

Also, single quotation marks and double quotation marks serve the same purpose


**Hashtag**:

These are what you can call pure comments in python. They do not serve any other purpose than to give more information to the reader of the code about what has been typed.

In [8]:
#This is an example of a comment with hashtag,also triple quotation marks help you type or wtrite contiouslyfrom line to line withiut having to close your work untuil tou are done

Mrs_Modupe ='Single Quotation mark'

'Jare said "I am a short boy"'
"Double" 
"Quotation mark"

"""Triple Quotation mark

it extends from line to line till the closing triple quotes"""

'Triple Quotation mark\n\nit extends from line to line till the closing triple quotes'

In [7]:
print("ade is here")

ade is here

### 4. Variable Assignment

https://realpython.com/python-variables/#:~:text=A%20Python%20variable%20is%20a,still%20contained%20within%20the%20object.

**Rules of Variable Assigment**

1. Only numbers, letters, and underscores can be used

2. Numbers must never come first

3. Variable names such as x, should not be made to be equal to a python keyword

We can assign variable names to numbers as shown below:

In [9]:
name="olujare"
print(name)

olujare

In [10]:
x = 5

#x = 10

x = -80

x

-80

We can assign variable names to strings as shown below:,,python works with the value on the rihht hand side,and that is why x is equal "iyiola" instead of "jare" because x is on d left while y is on the right hand side in the example below(x=y)

In [14]:
x = "jare"

In [15]:
y = "Iyiola"

In [16]:
x = y

x

'Iyiola'

In [17]:
y

'Iyiola'

We can assign multiple variables to multiple values on the same line in the following way:

In [20]:
j, k, l = 50, 50, 45

In [21]:
print(l)

45

In [22]:
print(k)

50

We can update the value of a variable in the following way

In [41]:
#Subtracting 5 from a variable

j = j -5
j

45

In [42]:
#Adding 5 to a variable

k = k + 5
k

55

In [43]:
# Adding 5 to variable

l = l + 5
l += 5
l

55

In [44]:
#Subtracting 6 from a variable

l -= 6
l

49

In [45]:
#Multiplying a variable by 2

l *= 2
l

98

In [46]:
#Dividing a variable by 2

l /= 2
l

49.0

In [47]:
#How to name variables

_2boys = "two"

Jare9 = "Teacher"

jare = "erty"

jare

'erty'

### Implicit questions


These are questions that we ask python by assigning one variable to another.

The operators we use for this type of question are:

"==": Is the item on the left equal to the item on the right?

">": Is the item on the left greater than the item on the right?

"<": Is the item on the left less than the item on the right?

">=": Is the item on the left greater than or equal to the item on the right?

"<=": Is the item on the left less than or equal to the item on the right?

"!=": Is the item on the left not equal to the item on the right?

In [48]:
#2 == 2

3 == 4

False

In [49]:
2 != 7

True

In [50]:
#5 > 6

#5 >= 6

#5 < 6

#5 <= 6

5 <= 5

True

In [51]:
True = 4

SyntaxError: cannot assign to True (<ipython-input-51-761ed92244d3>, line 1)

### 5. Case Sensitivity


The python programming language is case-sensitive. This means that "J" and "j" are two different strings. The case-sensitivity also extends to the variable names. If a variable name is var_1. This variable name is different from Var_1.

In [ ]:
x = "Jare"

y = "jare"

x == y

### 6. Data Types

https://www.digitalocean.com/community/tutorials/python-data-types

#### Boolean

In [ ]:
#Bool or Boolean

x = True

y = False

*Note: You cannot assign python keywords to variables*

#### Boolean Operators


https://realpython.com/python-boolean/

In [ ]:
#NOT

not False

In [ ]:
not True

In [ ]:
#AND

True and False

#True and True

#False and False

#False and True

In [ ]:
#OR

True or False

#True or True

#False or False

#False or True

In [ ]:
1 == 1.0

# is used to prevent python from reading the last of your code..E.g x is not y should be true after running bcos thats the last line of code here but once i put my # just before my last code it automatically becoms "false bcos the upper line is "x is y"which is false

In [24]:
#IS

x = 5

x is x

x is not x

y = 10

x is y

#x is not y

False

In [ ]:
x is not y

In mathematics, logic dictates that True = 1 and False = 0. This is the same with python and so we can perform some mathematical operations with them in the following way:

In [ ]:
True == 1

In [ ]:
False == 0

In [ ]:
True + False + True + False

In [ ]:
(True + True)*(True + True)

### Writing Mathematical Formulas


With the information given so far, we can write any mathematical formula in python and use them to make very fast computations.

The examples given below are:

- Applying the Quadratic Formula (Almighty Formula) to solve the quadratic equation:

> $5x^2+10x-50=0$

- Mean of 10 numbers: 137, 205, 300, 215, 228, 197, 296, 144, 177, 222

- Area of a Trapezium of height 8, upper base 6 and lower base 10

**Example 1**:

The quadratic formula is:

$x = \frac{-b+\sqrt{b^2-4ac}}{2a}$  and    $x = \frac{-b-\sqrt{b^2-4ac}}{2a}$


From the question given, we have the following:

$a=5,b=10,c=-50$

In [25]:
import math


a = 5

b = 10

c = -50

x_1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)

x_2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)

x_1

2.3166247903554003

In [ ]:
math.

In [26]:
x_2

-4.3166247903554

We can do this operation in another way given below:

In [ ]:
a = 5

b = 10

c= -50

x_1 = (-b + (b**2 - 4*a*c)**0.5)/(2*a)

x_2 = (-b - (b**2 - 4*a*c)**0.5)/(2*a)

x_1

In [ ]:
x_2

**Example 2:**

The formula for the mean is:

$\bar{x} = \frac{\sum_{i=1}^{i=10} x_i}{10} = \frac{x_1+x_2+x_3+...x_9+x_{10}}{10}$


That is, we sum all the numbers and then divide by the number of values given.

In [ ]:
mean = (137 + 205 + 300 + 215 + 228 + 197 + 296 + 144 + 177 + 222)/10

mean

**Example 3:**

The formula for the area of a trapezium is:

$A = \frac{h(m+n)}{2}$

where,

$h$ is the height of the trapezium

$m$ is the upper base of the trapezium

$n$ is the lower base of the trapezium

In [ ]:
h = 8

m = 6

n = 10


A_t = (h*(m+n))/(2)

A_t

### Homework

1. Answer the following questions: https://quizizz.com/admin/quiz/5cd4265c88978d001a646e68/python-arithmetic-operators

2. The formula for converting between Celsius and Fahrenheit is $(32F-32)\times\frac{5}{9}=C$. Write this formula in python and use it to convert $200^{\circ}$F to celsius

3. The area of a Stadium of length  500m and breadth 200m (Hint: Area = length x breadth)

4. The volume of a tank of length 240cm, breadth 160cm and 268cm wide. (Hint: Volume = Length x breadth x width)

5. The simple interest at a principal of 250,000 naira, rate of 6% and in two years. (Hint: Simple Interest =( principal x rate x time)/100)

6. Goods in a container cost 120,000,000 naira. If the goods were sold at 150,000,000 naira, what is the percentage profit on the gooods. (Hint: profit = Selling price â€“ cost price) (Percentage profit = (profit/cost price) x 100)

#### String


Strings have already been discussed earlier in the section for Comments. However, there are some operations called "methods" that we can perform on strings to help us manipulate strings the way we want.

There are several methods for manipulating strings but the most important methods have been given below:

The various string methods we shall look at are:

**slicing<br>
strip<br>
lstrip<br>
rstrip<br>
strip with character<br>
replace<br>
split(, maxsplit = ...)<br>
rsplit(, maxsplit)<br>
.join()<br>
.upper, .lower, .capitalize<br>
.islower, isupper<br>
isalpha, isnumeric, isalnum<br>
count()<br>
.find()<br>
.rfind()<br>
.startswith<br>
.endswith<br>
partition(seperator)<br>
f-strings<br>
swapcase()<br>
len()<br>**

In order to make use of the methods, it is imperative to always use a dot "." before using the name of the method.

For example, given a string "I am a boy". 

To make all the letters in the statement capitalized, we use the method **.upper()**. This is shown below:

In [ ]:
"I am a boy".upper()

You might have noticed that the method .upper() has a bracket after it. For most methods in python, we have a bracket after them and this is just the convention. The bracket also serves other uses which will be discussed later on in this notebook.

For now, just know that there are brackets that accompany methods in most cases but in some cases, there might not be a bracket.

To explore these string methods in python, we shall use the string "My name is Modupe". We will assign it to a variable x.

This is so that we can work with variable x, instead of the actual string "My name is Modupe". 

The reason for doing this is mostly for convenience since it is easier to type x, instead of the statement "My name is Modupe".

In [ ]:
"500" + "200"

In [ ]:
x = "My name is Modupe"

x[0:6] + x[9:11]

In [ ]:
#Slicing

x[3:5]

In [ ]:
#Strip, lstrip, rstrip, strip with character
x = "    My name is Modupe   "
x.strip()

In [ ]:
x = "    My name is Modupe   "

x.strip()

#x.lstrip()

#x.rstrip()

In [ ]:
x = "##My name is Modupe##"

x.strip("#")

In [ ]:
#Replace
x.replace("#", "*")

In [ ]:
#split, rsplit

x.split(" ")

#x.split(" ", 2)

#x.rsplit(" ", 2)

In [55]:
#join

y = ["John", "is", "a", "boy"]

" ".join(y)

'John is a boy'

In [60]:
string1 = " ".join(y)

string1.split("o")

['J', 'hn is a b', 'y']

In [65]:
#Upper, Lower, Capitalize

x.upper()

#x.lower()

#x.capitalize()

'Iyiola'

In [73]:
#isupper, islower

x.isupper()

#x.islower()

False

In [83]:
#isalpha,isnumeric,isalnum,isdigit

x = "45, 56"

#x.isalpha()

x.isnumeric()

#x.isalnum()

#x.isdigit()

False

In [91]:
#count
x = "My name is ModupMe Iyiola Priscillia"
x.count(" ")

#x.count("m")

5

In [112]:
for index, letter in enumerate(x):
    if letter == "M":
        print(f"The index is: {index}")

The index is: 0
The index is: 11
The index is: 16

In [93]:
#Find

x.find("M")

x.rfind("M")

16

In [98]:
#startswith

x.startswith("M")

True

In [ ]:
#endsiwth

x.endswith("j")

In [100]:
#partition by a character or word

x.partition(" ")

('My', ' ', 'name is ModupMe Iyiola Priscillia')

In [101]:
#F-strings

f"{x}"

y = "Tolu"

f"{x} and {y} is my friend"

'My name is ModupMe Iyiola Priscillia and Tolu is my friend'

In [110]:
#Swapcase

x[0:10].swapcase() + x[10:]

'mY NAME IS ModupMe Iyiola Priscillia'

In [107]:
50 + 35

85

In [111]:
#len

len(x)

36

In [113]:
len("Ben is a boy")

12

### Built-in Data Structures


These are simply objects in python that help us store and manipulate data.

So far, we have discussed how numbers and strings themselves can be manipulated and stored in variables. This level of manipulation and storage is not sufficient for Data Science. We are going to be working with millions of rows and columns of data and simply working with variable assignment and string manipulation won't cut it. This is one of the main reasons we need to learn Data Structures.


For now, we would focus on the Built-in Data Structures within the Python programming language. These structures have parallels in other programming languages as well. So they are universal for anyone trying to use a programming language to achieve anything at all, from website creation, to hacking.


The 4 major Data Structures are:

- Lists

- Tuples

- Sets

- Dictionaries

#### Lists:


This is simply a collection of items. Items could be numbers, strings, or any other type of objects we have yet to discuss in python.

It has certain properties that sets it appart from other Data Structures, but these properties will be discussed later. For now, we introduce these data structures.

**A list with numbers:**

In [ ]:
A = [2, 4, 6, 8]

A

In [117]:
type(None)

NoneType

**A list with strings:**

In [ ]:
B = ["Modupe", "Iyiola", "Priscillia"]

B

A list can contain a mixture of numbers and strings and even other lists. It can contain a Tuple, a Set or Dictionaries.

In [ ]:
y = ["kunle", 5, 10.5, ["another list", "is", "in", "this", "list y"]]
y

**Tuple**:

This can also hold any type of objects just like a list. And just like lists, it has its set of unique properties discussed later

In [ ]:
C = (2, 4, 7, 8)

C

**Sets**:


This is another collection of items, only this time, the items must not be duplicated and they must be arranged in ascending order

In [118]:
D = {2, 1, "two", 2, 3, 3, 0}

D

{0, 1, 2, 3, 'two'}

**Dictionaries**:

A dictionary contains key-value pairs. A value can easily be accessed via its key.

In [119]:
E = {"one": 1, "two" : 2, "three": 3}

E

{'one': 1, 'two': 2, 'three': 3}

**Properties of Data Structures**:


**List**:
- Lists are ordered.
- Lists can contain any arbitrary objects.
- List elements can be accessed by index.
- Lists can be nested to arbitrary depth.
- Lists are mutable.
- Lists are dynamic.


**Tuple**:

- Ordered, 
- Unchangeable
- Allow duplicate values.


**Set**:
- Sets are unordered.
- Set elements are unique. Duplicate elements are not allowed.
- A set itself may be modified, but the elements contained in the set must be of an immutable type.


**Dictionary**:
- Dictionaries are unordered.
- Keys are unique.
- Keys must be immutable. 


Below, we shall proceed to explain these properties.

**List**

In [121]:
# Lists are ordered

L = ["a", "c", "b"]

M = ["a", "b", "c"]

N = ["a", "b", "c"]

L == M

M == N

True

In [ ]:
# Lists can contain any arbitrary objects.,i.e a list can virtually contain everything(string,integer,float etc).. 
list is usually called out by using index i.e numbers  

L = ["one", 2, "three", 4, None]

L

In [125]:
# Lists are accessed by index

L[0]

L[1]

L[2]

L[3]

4

In [126]:
# Lists can be nested

M = ["Father", "Mother", ["Brother", "Sister"]]

M[0]

M[1]

M[2]

M[2][0]

M[2][1]

'Sister'

In [127]:
# Lists can be mutable or changeable

N = ["Apple", "Samsung", "Nokia"]

N += M

N

['Apple', 'Samsung', 'Nokia', 'Father', 'Mother', ['Brother', 'Sister']]

In [ ]:
N[0] = 1

N

**Tuple**

In [ ]:
# Tuples are ordered

T = (1, "a", 2, "b")

U = (1, 2, "a", "b")

T == U

In [ ]:
# Tuples are unchangeable

T[1] = 19

In [ ]:
# Allow duplicates
R = (1, 1, 4, 2, 4, 4, 2)

R

Sets

In [ ]:
D = {2, 1, "two", 2, 3, 3, 0}

**Dictionary**:A dictionary contans key values

In [ ]:
E = {"one": 1, "two" : 2, "three": 3}

#Keys are unique
E["one"]